.fondoHome {
    background-image: url("https://wallpapers.com/images/hd/black-adidas-shoes-jump-f7o9bkqjnja4anpj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.tituloPrincipal {
    background-color: white;
    font-size: 30px;
    text-align: center;

}

.contenedorCajaFondo{
    display:flex;
    justify-content: center;
    height: 600px;
  

}

.mostrarProductos {
    
    background-color: rgba(255, 255, 255, 0.481);
    text-align: center;
    border-radius: 5px;
    width: 400px;
    padding: 20px;

    
}

.mostrarProductosContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mostrarProductos a {
    margin-top: 20px;
    width: 100%;
}