.footer {
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 300px;
}

.footerContainer {
    display: flex;
    justify-content: space-around;
    gap: 300px;
    padding-top: 100px;
}






.itemRedes {
    text-decoration: none;
    color: black;
    padding-right: 30px;
    font-size: 20px;
}


.suscripciones > input {
    width: 500px;

}
